/* Global Styles */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

html, body {
  height: 100%;
}

/* Material overrides */
.mat-mdc-form-field {
  width: 100%;
}

/* Plotly chart containers */
.plotly-chart {
  width: 100%;
}
